<%- include("partials/header"); -%>

<h1></h1>
    <p> <%= cartContent %> </p>


<form class="" action="/cart" method="post">

  <div class="col-md-3 col-sm-6">
      <div class="product-grid2">
        <div class="product-image2">
            <a href="/cart">
                <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-3.jpeg">
                <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-4.jpeg">
            </a>

          </div>

      </div>
  </div>
  <div class="col-md-3 col-sm-6">
      <div class="product-grid2">
          <div class="product-image2">
              <a href="#">
                  <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-5.jpeg">
                  <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-6.jpeg">
              </a>

          </div>
                </div>
  </div>
  <div class="col-md-3 col-sm-6">
      <div class="product-grid2">
          <div class="product-image2">
              <a href="#">
                  <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-7.jpeg">
                  <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-8.jpeg">
              </a>

          </div>

      </div>
  </div>


  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="box card">
          <div class="box cardImg">
              <img src="https://image.freepik.com/psd-gratuit/sweat-capuche-noir-isole-maquette-vue-face_110893-2080.jpg" alt="...">
          </div>
                </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="box card">
          <div class="box cardImg">
              <img src="https://image.freepik.com/psd-gratuit/t-shirts-noirs-maquettes-devant-dos-utilises-comme-modele-conception_34168-864.jpg" alt="...">
          </div>

      </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="box card">
          <div class="box cardImg">
              <img src="https://image.freepik.com/psd-gratuit/sweat-capuche-noir-isole-maquette-vue-face_110893-2080.jpg" alt="...">
          </div>

      </div>
  </div>

</form>
