<%- include("partials/header"); -%>


<body>
  <section id="title">
      <div class=" container-fluid">
      <!-- Nav Bar -->
      <nav class="navbar  navbar-expand-lg navbar-dark">
      <div class="col-lg-6">
        <img class="picture circular" src="images/logo.png" alt="picture-imag">
      </div>
          <a class="navbar-brand" href="">RUBBY Shopping</a>

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <input type="text" class="" placeholder="Search">
            <button type="submit" class="">submit</button>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link fa fa-cart-plus" href="/cart"></a>
              </li>
              <li>
                <!-- <a class="nav-link" href="/logout">Out</a> -->
              </li>
          </ul>
       </div>
      </nav>
    </div>
</section>

<hr>
<div class="">
  <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/cap-maquette_1310-498.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i>Cart</a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/casquette-realiste-se-moque_1310-152.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i>Cart</a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/casquette-noire-pour-maquette_34168-863.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href="/cart"><i class="fa fa-cart-plus" aria-hidden="true"></i>Cart</a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/modele-maquette-casquette-baseball-blanc_34168-952.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href="/"><i class="fa fa-cart-plus" aria-hidden="true"></i>Cart</a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/photos-gratuite/vetements-protection-fond-capuchon-rouge_1203-6403.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i>Cart</a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/sweat-capuche-psd_25226-57.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i>Cart</a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/sweat-capuche-noir-isole-maquette-vue-face_110893-2080.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href=""><i class="fa fa-cart-plus" aria-hidden="true">Cart</i></a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/t-shirts-noirs-maquettes-devant-dos-utilises-comme-modele-conception_34168-864.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i>Cart</a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/cap-maquette_1310-498.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i>Cart</a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/casquette-realiste-se-moque_1310-152.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i>Cart</a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/casquette-noire-pour-maquette_34168-863.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/modele-maquette-casquette-baseball-blanc_34168-952.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/photos-gratuite/vetements-protection-fond-capuchon-rouge_1203-6403.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i> Cart</a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/sweat-capuche-psd_25226-57.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i>Cart</a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/sweat-capuche-noir-isole-maquette-vue-face_110893-2080.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href="/"><i class="fa fa-cart-plus" aria-hidden="true"></i>Cart</a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/t-shirts-noirs-maquettes-devant-dos-utilises-comme-modele-conception_34168-864.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href="/"><i class="fa fa-cart-plus" aria-hidden="true"></i>Cart</a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/sweat-capuche-noir-isole-maquette-vue-face_110893-2080.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i>Cart</a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/casquette-noire-pour-maquette_34168-863.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href="/cart"><i class="fa fa-cart-plus" aria-hidden="true"></i>Cart</a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/sweat-capuche-noir-isole-maquette-vue-face_110893-2080.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href="/cart"><i class="fa fa-cart-plus" aria-hidden="true"></i>Cart</a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="box card">
                      <div class="box cardImg">
                          <img src="https://image.freepik.com/psd-gratuit/casquette-realiste-se-moque_1310-152.jpg" alt="...">
                      </div>
                      <div class="info">
                          <h3>Name</h3>
                          <p><span>#150</span></p>
                          <a href="/cart"><i class="fa fa-cart-plus" aria-hidden="true"></i>Cart</a>
                          <button class="btn btn-primary">Buy</button>
                      </div>
                  </div>
              </div>



          </div>
      </div>
</div>
<hr>


<div class="container">
    <h4 class="">women cloths </h4>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2">
                    <a href="/cart">
                        <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-1.jpeg">
                        <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-2.jpeg">
                    </a>
                </div>
                <div class="product-content">
                  <a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    <h5 class="title"><a href="#">Women's Designer Top</a></h5>
                    <span class="price">#599.99</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid2">
              <div class="product-image2">
                  <a href="/cart">
                      <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-3.jpeg">
                      <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-4.jpeg">
                  </a>

                </div>
                <div class="product-content">
                  <a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    <h5 class="title"><a href="#">Women's Yellow Top</a></h5>
                    <span class="price">#699.99</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2">
                    <a href="#">
                        <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-5.jpeg">
                        <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-6.jpeg">
                    </a>

                </div>
                <div class="product-content">
                  <a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    <h5 class="title"><a href="#">Women's Designer Top</a></h5>
                    <span class="price">#599.99</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2">
                    <a href="#">
                        <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-7.jpeg">
                        <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-8.jpeg">
                    </a>

                </div>
                <div class="product-content">
                  <a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    <h5 class="title"><a href="#">Women's Designer Top</a></h5>
                    <span class="price">#599.99</span>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>


<h1></h1>
  <p> <%=startingContent %></p>

<%- include("partials/footer"); -%>
