


<!--
<form class="" action="/cart" method="post">

  <input type="text" class="qty" name="qty[]" value="<%= product.qty %>">
  <input type="hidden" name="product_id[]" value="<%= product.id%>">

</form> -->
