<%- include("partials/header"); -%>

<div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box card">
                    <div class="box cardImg">
                        <img src="https://image.freepik.com/psd-gratuit/cap-maquette_1310-498.jpg" alt="...">
                    </div>
                    <div class="info">
                        <h3>Name</h3>
                        <p><span>#150</span></p>
                        <a href="/cart/<%=product_id%>"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box card">
                    <div class="box cardImg">
                        <img src="https://image.freepik.com/psd-gratuit/casquette-realiste-se-moque_1310-152.jpg" alt="...">
                    </div>
                    <div class="info">
                        <h3>Name</h3>
                        <p><span>#150</span></p>
                        <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box card">
                    <div class="box cardImg">
                        <img src="https://image.freepik.com/psd-gratuit/casquette-noire-pour-maquette_34168-863.jpg" alt="...">
                    </div>
                    <div class="info">
                        <h3>Name</h3>
                        <p><span>#150</span></p>
                        <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box card">
                    <div class="box cardImg">
                        <img src="https://image.freepik.com/psd-gratuit/modele-maquette-casquette-baseball-blanc_34168-952.jpg" alt="...">
                    </div>
                    <div class="info">
                        <h3>Name</h3>
                        <p><span>#150</span></p>
                        <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box card">
                    <div class="box cardImg">
                        <img src="https://image.freepik.com/photos-gratuite/vetements-protection-fond-capuchon-rouge_1203-6403.jpg" alt="...">
                    </div>
                    <div class="info">
                        <h3>Name</h3>
                        <p><span>#150</span></p>
                        <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box card">
                    <div class="box cardImg">
                        <img src="https://image.freepik.com/psd-gratuit/sweat-capuche-psd_25226-57.jpg" alt="...">
                    </div>
                    <div class="info">
                        <h3>Name</h3>
                        <p><span>#150</span></p>
                        <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box card">
                    <div class="box cardImg">
                        <img src="https://image.freepik.com/psd-gratuit/sweat-capuche-noir-isole-maquette-vue-face_110893-2080.jpg" alt="...">
                    </div>
                    <div class="info">
                        <h3>Name</h3>
                        <p><span>#150</span></p>
                        <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box card">
                    <div class="box cardImg">
                        <img src="https://image.freepik.com/psd-gratuit/t-shirts-noirs-maquettes-devant-dos-utilises-comme-modele-conception_34168-864.jpg" alt="...">
                    </div>
                    <div class="info">
                        <h3>Name</h3>
                        <p><span>#150</span></p>
                        <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box card">
                    <div class="box cardImg">
                        <img src="https://image.freepik.com/psd-gratuit/cap-maquette_1310-498.jpg" alt="...">
                    </div>
                    <div class="info">
                        <h3>Name</h3>
                        <p><span>#150</span></p>
                        <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box card">
                    <div class="box cardImg">
                        <img src="https://image.freepik.com/psd-gratuit/casquette-realiste-se-moque_1310-152.jpg" alt="...">
                    </div>
                    <div class="info">
                        <h3>Name</h3>
                        <p><span>#150</span></p>
                        <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box card">
                    <div class="box cardImg">
                        <img src="https://image.freepik.com/psd-gratuit/casquette-noire-pour-maquette_34168-863.jpg" alt="...">
                    </div>
                    <div class="info">
                        <h3>Name</h3>
                        <p><span>#150</span></p>
                        <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box card">
                    <div class="box cardImg">
                        <img src="https://image.freepik.com/psd-gratuit/modele-maquette-casquette-baseball-blanc_34168-952.jpg" alt="...">
                    </div>
                    <div class="info">
                        <h3>Name</h3>
                        <p><span>#150</span></p>
                        <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box card">
                    <div class="box cardImg">
                        <img src="https://image.freepik.com/photos-gratuite/vetements-protection-fond-capuchon-rouge_1203-6403.jpg" alt="...">
                    </div>
                    <div class="info">
                        <h3>Name</h3>
                        <p><span>#150</span></p>
                        <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i> </a>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box card">
                    <div class="box cardImg">
                        <img src="https://image.freepik.com/psd-gratuit/sweat-capuche-psd_25226-57.jpg" alt="...">
                    </div>
                    <div class="info">
                        <h3>Name</h3>
                        <p><span>#150</span></p>
                        <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box card">
                    <div class="box cardImg">
                        <img src="https://image.freepik.com/psd-gratuit/sweat-capuche-noir-isole-maquette-vue-face_110893-2080.jpg" alt="...">
                    </div>
                    <div class="info">
                        <h3>Name</h3>
                        <p><span>#150</span></p>
                        <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box card">
                    <div class="box cardImg">
                        <img src="https://image.freepik.com/psd-gratuit/t-shirts-noirs-maquettes-devant-dos-utilises-comme-modele-conception_34168-864.jpg" alt="...">
                    </div>
                    <div class="info">
                        <h3>Name</h3>
                        <p><span>#150</span></p>
                        <a href="#cart.html"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
