<%- include("partials/header"); -%>








<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Jekyll v4.0.1">
<title>Floating labels example · Bootstrap</title>

<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/floating-labels/">

<!-- Bootstrap core CSS -->
<link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<!-- Custom styles for this template -->
<link href="floating-labels.css" rel="stylesheet">
</head>

<body class="text-center">

<!-- <body class="text-center">

    <form action="/register" class="AA" method="POST">
      <div class="form-group">
        <img class="mb-4 circular" src="images/logo.png" alt="" width="52" height="52">

        <input type="text" name="firstName"class="A top" placeholder="First Name" required autofocus>
        <input type="text" name="lastName" class="A middle" placeholder="Last Name" required>
        <input type="email" name="username" class="A middle" placeholder="Email" required>
        <input type="password" name="password" class="A middle" placeholder="Password "required>
        <input type="password" name="confirmpassword" class="A bottom" placeholder="Confirm Password"required>
        <button class="btn-lg btn-primary btn-btn  " type="submit">Register</button>
      </div>

      <!-- <div class="col-sm-4">
            <div class="">
                <a class="btn-lg btn-primary btn-social btn-google" href="/auth/google" role="button">
                  <i class="fab fa-google"></i>
                  Sign Up with Google
                </a>
            </div>
          </div> -->

  <!-- <p class="mt-5 mb-3 text-muted">© Osanyinlusi Oluwafemi</p>
</form> --> 




<form action="/register" class="form-signin" method="POST" >
<div class="text-center mb-4">
<img class="mb-4 circular" src="images/logo.png" alt="" width="72" height="72">
  </div>

<div class="form-label-group">
<input type="text" name="firstName" id="inputEmail" class="form-control" placeholder="First Name" required autofocus>
<label for="inputEmail">firstName</label>
</div>

<div class="form-label-group">
<input type="text" name="lastName" id="inputPassword" class="form-control" placeholder="Last Name" required>
<label for="inputPassword">lastName</label>
</div>

<div class="form-label-group">
<input type="email" name="username" id="inputPassword" class="form-control" placeholder="Email" required>
<label for="inputEmail">Email</label>
</div>

<div class="form-label-group">
<input type="password" name="password" id="inputPassword" class="form-control" placeholder="password" required>
<label for="inputPassword">password</label>
</div>

<div class="form-label-group">
<input type="password" name="confirmpassword" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
<label for="inputPassword">confirmpassword</label>
</div>

  <div class="etc-login-form">
    <button class="btn-lg btn-primary btn-block  " type="submit">Register</button>
  </div>


<!--
  <div class="col-sm-4">
        <div class="">
            <a class="btn-lg btn-primary btn-social btn-google" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
              Sign Up with Google
            </a>
        </div>
      </div> -->


  <p class="mt-5 mb-3 text-muted">© Osanyinlusi Oluwafemi</p>
</form>




</body>


<h1></h1>
    <p> <%=registerContent %> </p>
